// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// From coolors.co - Warm rustic palette
$dark-beige: #f58549;
$beige: #f2a65a;
$light-beige: #eec170;
