// Specific CSS for your home-page

#Headline {

  color: red ;

}

.row {

  background-color: grey ;
  background-image: url("https://media.istockphoto.com/id/991732782/photo/close-up-of-sommelier-serving-red-wine-at-fine-dining-restaurant.jpg?s=612x612&w=0&k=20&c=KPTJbmK7ryWZczvKJXkvCiwtc_BcX0oqJJN91qG2yVw=") ;
  background-size: 100% ;

}

.Option-Card {



}
