<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= local_assigns[:image_url] %>);">
  <div class="container">
    <h1><%= local_assigns[:h1] %></h1>
    <p><%= local_assigns[:p] %></p>
  </div>
</div>
