
<div class="Options-Container">

    <h1 id="Headline">Welcome fellow Sommelier's</h1>


  <div class="Option-Card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">

    <%= simple_form_for @chat do |f| %>
      <%= f.submit "Open Chat with Chatbot", class: "btn btn-warning" %>
    <% end %>

  </div>



  <div class="Option-Card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <h1>

    <%= simple_form_for @chat do |f| %>
      <%= f.submit "View History", class: "btn btn-warning" %>
    <% end %>

    </h1>
  </div>


</div>
