
<div class="Options-Container">

    <h1 id="Headline">This is the Wine-O-Bot</h1>


  <div class="Option-Card">
    <h1>Start Wine-O-Bot</h1>
  </div>

  <div class="Option-Card">
    <h1>View History</h1>
  </div>




</div>
<%= simple_form_for @chat do |f| %>
  <%= f.submit "New chat", class: "btn btn-primary" %>
<% end %>
