.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to right, $light-brown, $light-beige);
  p {
    color: $light-beige;
  }
  .nav-link {
    color: $dark-brown;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  background-color: $light-beige;
  .dropdown-item {
    color: $dark-brown;
    &:hover {
      background-color: $dark-brown;
      color: $light-beige;
    }
  }
}
